DEBUG=""
SITE_NAME=""
SECRET_KEY=""
ADMIN_URL=""
EMAIL_PORT=""
EMAIL_HOST=""
DEFAULT_FROM_EMAIL=""
DOMAIN=""
POSTGRES_HOST=""
POSTGRES_PORT=""
POSTGRES_DB=""
POSTGRES_PASSWORD=""
POSTGRES_USER=""
BANK_NAME=""
CELERY_FLOWER_USER=""
CELERY_FLOWER_PASSWORD=""
CELERY_BROKER_URL=""
CELERY_RESULT_BACKEND=""
COOKIE_SECURE=""
SIGNING_KEY=""
BANK_CODE="211"
BANK_BRANCH_CODE="700"
CURRENCY_CODE_TOM="01"
CURRENCY_CODE_USD="02"
CURRENCY_CODE_GBP="03"
CURRENCY_CODE_EURO="04"
BANK_CARD_PREFIX="6037"
BANK_CARD_CODE="1300"
CVV_SECRET_KEY=""
ADMIN_EMAIL=""
LARGE_TRANSACTION_THRESHOLD="10000000.00"
FREQUENT_TRANSACTION_THRESHOLD="10"
TIME_WINDOW_HOURS="24"
SECURE_SSL_REDIRECT="True"
SECURE_HSTS_INCLUDE_SUBDOMAINS="True"
SECURE_HSTS_PRELOAD="True"
SECURE_CONTENT_TYPE_NOSNIFF="True"
GUNICORN_WORKERS